<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lora&family=Yeseva+One&display=swap');

    * {
      --hibiscus-love: #fc465c;
      --fine-ii: #f9b198;
      --afl: #fac8af;
      --mexican-sky: #cfdddd;
      --brasillia-peach: #ffffff;
      --free: #33032d;
      --captured: #2b2120;

      --primary-color: var(--brasillia-peach);
      --secondary-color: var(--hibiscus-love);
      --tertiary-color: var(--fine-ii);
      --quadrary-color: var(--afl);
      --bg-color: var(--mexican-sky);
      --text-color: var(--free);
      --header-color: var(--captured);
      --error-color: var(--hibiscus-love);
      --success-color: #73d12e;

      box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: 'Yeseva One', Georgia, cursive;
      color: var(--header-color);
    }

    body {
      font-family: 'Lora', 'Times New Roman', serif;
      background-color: var(--bg-color);
      color: var(--free);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      min-height: 100vh;
      background: linear-gradient(90deg, rgb(70, 62, 185) 0%, rgb(210, 182, 255) 50%);
    }

    .container {
      width: 400px;
      border-radius: 0.6em;
      padding: 20px;
      background-color: var(--primary-color);
      box-shadow: 20px 20px 60px #97a1a1, -20px -20px 60px #ffffff;
      margin: 20px auto;
    }

    .form {
      padding: 30px 40px;
    }

    .form h2 {
      text-align: center;
      margin: 0 0 20px;
    }

    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
    }

    .form-control label {
      color: var(--text-color);
      display: block;
      margin-bottom: 5px;
    }

    .form-control input {
      border-radius: 6px;
      background: var(--primary-color);
      /* box-shadow: inset 3px 3px 7px #e9bd7c, inset -3px -3px 7px #ffd98e; */
      min-height: 2.618em;
      border: var(--quadrary-color) solid 2px;
      display: block;
      width: 100%;
      font-size: 14px;
      padding: 10px;
    }

    .form-control input:focus {
      outline: 0;
      border-color: var(--tertiary-color);
    }

    .form-control.success input {
      border-color: var(--success-color);
    }

    .form-control.error input {
      border-color: var(--error-color);
    }

    .form-control small {
      color: var(--error-color);
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
    }

    .form-control.error small {
      visibility: visible;
    }

    .form button {
      cursor: pointer;
      background: var(--secondary-color);
      box-shadow: 4px 4px 8px #c19c66, -4px -4px 8px #fffaa4;
      border: 1px solid #ec263c66;
      color: #fff;
      font-size: 16px;
      padding: 0.618em 1.2em;
      border-radius: 0.4em;
      font-family: 'Yeseva One', Georgia, cursive;
      display: block;
      margin-top: 1.2em;
      width: 100%;
    }

    .form button:active,
    .form button:focus {
      outline: 0;
      background-color: #fc364c;
    }

    .par {
      display: flex;
      gap: 20px;
      font-weight: 700;
    }
  </style>
</head>

<body>
  <div class="container">
    <form id="form" class="form" action="/" method="post" onsubmit="return validate()">
      <h2><span class="glyphicon glyphicon-heart"> Hey User, register! </span> </h2>
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" id="username" name="name" placeholder="Enter username" onkeyup="checkusername(this)" />
        <p id="usermsg" style=" font-weight: 700;"></p>
      </div>
      <div class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter email" onblur="checkuserEmail(this);"
          onkeyup="checkuseremail(this)" />
        <div class="par">
          <div class="a1">
            <p id="emailmsg"> </p>
          </div>
          <div class="a2">
            <p id="secmsg"> </p>
          </div>
        </div>
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password" />
        <small>Error message</small>

      </div>
      <div class="form-control">
        <label for="password2">Confirm password</label>
        <input type="password" id="password2" name="cpassword" onkeyup="validatepass(this)"
          placeholder="Renter your password" />
        <small>Error message</small>
        <p id="passmsg"></p>
      </div>

      <button id="submit" type="submit">Submit</button>
      <% if(flag){%>
        <small style="color: #EF3B3A; font-weight: 800;">User Already Exists</small>
        <% } %>
      <p class="message">Have registered? <a href="/login">Login to account</a></p>
    </form>
  </div>

</body>
<script>
  let submitbtn = document.getElementById("submit");
  submitbtn.style.display = 'none';
 
  async function checkusername(e) {
    console.log(e.value);
    const save_req = await fetch(`http://localhost:5010/checkuser`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        data: e.value

      })
    });

    var resSave = await save_req.json();
    // console.log(resSave.isNew);
    if (resSave.isNew == true) {
      // console.log("i ma he");
      let usermsg = document.getElementById('usermsg')
      // console.log(usermsg);
      let content = `<span style="color: #1c800f; font-size:14px">Username Available</span>`
      usermsg.innerHTML = content
      return true
    }
    else {
      let usermsg = document.getElementById('usermsg')
      let content = `<span style="color: #b9370f; font-size:14px">Username unAvailable</span>`
      usermsg.innerHTML = content;
      //count -= 1
      submitbtn.style.display = 'none';
      return false;
    }
    
  }
  function showError() {

    let usermsg = document.getElementById('secmsg')
    // console.log(usermsg);
    let content = `<span style="color: #b9370f;">Enter Valid email!</span>`
    usermsg.innerHTML = content
    //count -= 1
    submitbtn.style.display = 'none';
  }
  function showSuccess() {
    let usermsg = document.getElementById('secmsg')
    let content = `<span style="color: #1c800f;">Email is valid</span>`
    usermsg.innerHTML = content;
    //count += 1;

  }

  function checkuserEmail(input) {
    const regExEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    // console.log("hellop");
    if (regExEmail.test(input.value.trim())) {
      showSuccess();
      return true
    } else {
      showError();
      return false
    }
  }



  async function checkuseremail(e) {
    let email = e.value

    const save_req = await fetch(`http://localhost:5010/checkuseremail`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        data: e.value

      })
    });

    var resSave = await save_req.json();
    // console.log(resSave.isNew);
    if (resSave.isNew == true) {
      // console.log("i ma he");
      let usermsg = document.getElementById('emailmsg')
      // console.log(usermsg);
      let content = `<span style="color: #1c800f;">Email Available</span>`
      usermsg.innerHTML = content
      //count += 1
      return true
    }
    else {
      let usermsg = document.getElementById('emailmsg')
      let content = `<span style="color: #b9370f;">Email unAvailable</span>`
      usermsg.innerHTML = content;
      //count -= 1
      submitbtn.style.display = 'none';
      return false
    }
  }

  function validatepass(e) {
    var pw1 = document.getElementById("password").value;
    // console.log(pw1);
    let usermsg = document.getElementById('passmsg')
    var pw2 = document.getElementById("password2").value;
    // console.log(pw2);
    if (pw1 != e.value) {
      let content = `<span style="color: #b9370f;">Password does not match !</span>`
      usermsg.innerHTML = content
      //count -= 1
      submitbtn.style.display = 'none';
      return false
    }
    else {
      let content = `<span style="color: #1c800f;">Password is Suitable!</span>`
      usermsg.innerHTML = content

      submitbtn.style.display = 'block';
      return true
    }
    if (pw1.length < 8 && pw2.length < 8) {
      let usermsg = document.getElementById('passmsg')
      let content = `<span style="color: #b9370f;">Password must be atleast 8 character !</span>`
      usermsg.innerHTML = content;
      //count -= 1
      submitbtn.style.display = 'none';
      return false
    }
  }



</script>

</html>